@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes background {
  to {
    transform: scale(0);
  }
}
@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}
@keyframes turn {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes appearance {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  font-family: "roboto", "sans-serif";
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  text-align: center;
  box-shadow: 3px 3px 8px #bdbdbd;
}
header img {
  height: 30px;
  margin: 1em 0 0.5em 0;
}

.town {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em 0 0;
  background: #dedede;
}
.town i {
  margin: 0 0.7em 0.3em 0;
  font-size: 20px;
}
.town p {
  font-weight: 400;
  font-size: 18px;
}

.reserve {
  text-align: center;
  background: #ebebeb;
  margin-top: -1.8em;
}
.reserve h1 {
  padding-top: 2em;
  font-size: 24px;
}
.reserve p {
  margin: -0.5em 0 2em 0;
  font-weight: 250;
}
.reserve button {
  margin-bottom: 4em;
  padding: 1.2em 1.5em 1.2em 1.5em;
  font-weight: bold;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 3px 4px 3px #cacaca;
  background-image: linear-gradient(#ff79da, #9356dc);
}
.reserve button:hover {
  transform: scale(1.1);
  background: linear-gradient(356deg, #a16be0, #ff93e1);
}

@media (min-width: 768px) {
  .operation {
    margin-left: 2em;
  }
}
.operation h2 {
  padding: 1.5em 0 0.4em 0.8em;
}
.operation ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  gap: 1.5em;
  width: 95%;
  padding-bottom: 3.2em;
}
@media (min-width: 768px) {
  .operation ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .operation ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.operation li {
  list-style-type: none;
  padding: 1.5em;
  margin-left: -1em;
  font-weight: 500;
  background: #f8f8f8;
  border-radius: 25px;
  box-shadow: 0px 3px 4px 3px #f0f0f0;
  cursor: pointer;
}
.operation li:hover {
  background: #f2eafb;
}
.operation li:hover > i {
  color: #9356dc;
}
@media (min-width: 768px) {
  .operation li {
    margin-right: 6%;
  }
}
.operation span {
  margin-left: -2.8em;
  color: white;
  padding: 0.5em 0.6em 0.2em 0.6em;
  background: #9356dc;
  border-radius: 50px;
  font-size: 12px;
}
.operation i {
  padding-right: 1.2em;
  margin-left: 1em;
  font-size: 20px;
  color: #717171;
}

.restaurant {
  background: #f0f0f0;
}
.restaurant h2 {
  padding: 2em 0 0.4em 0.7em;
  font-size: 25px;
}
@media (min-width: 768px) {
  .restaurant h2 {
    margin-left: 1.5em;
  }
}
.restaurant__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5em;
  padding-left: 1em;
  padding-bottom: 4em;
}
@media (min-width: 768px) {
  .restaurant__cards {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2em;
  }
}
.restaurant__cards .new {
  position: relative;
}
.restaurant__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2em;
  width: 5em;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1em;
  top: 1em;
}

.card {
  box-shadow: 3px 3px 5px #d7d7d7;
  background-color: white;
  width: 95%;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .card {
    width: 87%;
  }
}
.card__image {
  height: 10em;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.card__image-1 {
  background-image: url(images/image-1.jpg);
}
.card__image-2 {
  background-image: url(images/image-2.jpg);
}
.card__image-3 {
  background-image: url(images/image-3.jpg);
}
.card__image-4 {
  background-image: url(images/image-4.jpg);
}
.card__heart {
  position: relative;
}
.card__heart::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  right: 1.2em;
  bottom: 1.3em;
  font-size: 23px;
}
.card__heart::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  right: 1.2em;
  bottom: 1.3em;
  font-size: 23px;
  font-weight: 900;
  opacity: 0;
}
.card__heart:hover::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  right: 1.2em;
  bottom: 1.3em;
  font-size: 23px;
  font-weight: 900;
  opacity: 1;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.15);
  transition: all 0.3s ease-in;
}
.card__description h3 {
  margin: 0.7em 0 0 1em;
}
.card__description p {
  margin: 0.3em 0 0 1.2em;
  font-weight: 300;
  padding-bottom: 1em;
}

footer {
  margin-top: -1.2em;
  background: #3e3e3e;
  color: white;
  height: 12em;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  padding: 1.2em 0 0 1.2em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  footer h2 {
    margin-left: 2em;
  }
}
footer p {
  padding-left: 1.5em;
  margin: 0 0 0.5em 0;
  font-size: 15px;
}
@media (min-width: 768px) {
  footer p {
    margin-left: 2em;
  }
}
footer .fa-utensils {
  font-size: 13px;
  padding-right: 0.8em;
}
footer .fa-handshake-angle {
  font-size: 10px;
  padding-right: 1em;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  inset: 0;
  height: 100vh;
  z-index: 1;
  opacity: 0.8;
  animation: background 3s forwards;
}
.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border-right: 8px solid transparent;
  border-top: 8px solid #9356dc;
  border-radius: 50%;
  animation: turn 1.5s linear;
}

.box {
  box-shadow: none;
}
.box i {
  position: absolute;
  left: 2em;
  top: 0.8em;
  font-size: 23px;
  transition: 0.2s;
}
.box i:hover {
  transform: scale(1.2);
}

.image img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

.title {
  background: whitesmoke;
  margin-top: -4.3em;
  border-radius: 45px 45px 0 0;
  position: relative;
}
.title h1 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 400;
  font-size: 27px;
  padding-top: 1.2em;
  padding-bottom: 0.8em;
  margin: 1em 0 1em 0.8em;
}
.title__heart {
  cursor: pointer;
  right: 0.5em;
  top: -1.7em;
  position: relative;
}
.title__heart::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  right: 1.2em;
  bottom: 1.3em;
  font-size: 23px;
}
.title__heart::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  right: 1.2em;
  bottom: 1.3em;
  font-size: 23px;
  font-weight: 900;
  opacity: 0;
}
.title__heart:hover::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  right: 1.2em;
  bottom: 1.3em;
  font-size: 23px;
  font-weight: 900;
  opacity: 1;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.15);
  transition: all 0.3s ease-in;
}
.title__heart__heart::before {
  right: 2em;
  bottom: 0.3em;
}
.title__heart__heart:hover::after {
  right: 2em;
  bottom: 0.3em;
}

.menu {
  margin-top: -2em;
}
@media (min-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: block;
  }
}
.menu__columns {
  background: whitesmoke;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 768px) {
  .menu__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.menu__item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__item h2 {
  margin: 0 0 0.7em 1.2em;
  padding: 1em 0 0.7em 0;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  font-size: 17px;
}
.menu__item h2::before {
  content: "";
  position: absolute;
  width: 42px;
  border-bottom: 3px solid #99e2d0;
  top: 2.5em;
}
.menu__description {
  margin-bottom: 1em;
  width: 93%;
  box-shadow: 3px 3px 5px #e3e3e3;
  background-color: white;
  border-radius: 15px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  animation: appearance 0.5s both;
}
.menu__description:nth-child(1) {
  animation-delay: 0.2s;
}
.menu__description:nth-child(2) {
  animation-delay: 0.4s;
}
.menu__description:nth-child(3) {
  animation-delay: 0.6s;
}
.menu__description:nth-child(4) {
  animation-delay: 0.8s;
}
.menu__description h3 {
  font-weight: 500;
  padding: 0.5em 0 0 0.5em;
  margin: 0 0 0.2em 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__description p {
  font-weight: 300;
  margin: 0 0 0 0.5em;
  padding: 0 0 0.7em 0.7em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__script {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__price {
  margin-left: auto;
  margin-top: 1.5em;
  margin-right: 1.5em;
  font-weight: bold;
  transition: margin-right 0.5s;
}
.menu__check {
  display: grid;
  place-items: center;
  background-color: #99e2d0;
  padding: 1.1em 0;
  width: 4.5em;
  margin-right: -4.5em;
  transition: margin-right 0.5s;
}
.menu__check i {
  background: white;
  color: #99e2d0;
  font-size: 20px;
  padding: 0.3em 0.4em;
  border-radius: 50%;
}
.menu__description:hover .menu__check i {
  animation: turn 0.3s ease-in-out;
}
.menu__description:hover .menu__check {
  margin-right: 0;
}
.menu__description:hover .menu__price {
  margin-right: 0.5em;
}

.button {
  text-align: center;
  background: #f8f8f8;
}
.button button {
  margin-top: 2.5em;
  margin-bottom: 4em;
  padding: 1.2em 1.5em 1.2em 1.5em;
  font-weight: bold;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 3px 4px 3px #cacaca;
  background-image: linear-gradient(#ff79da, #9356dc);
  padding: 1.2em 3.5em;
}
.button button:hover {
  transform: scale(1.1);
  background: linear-gradient(356deg, #a16be0, #ff93e1);
}

@media (min-width: 768px) {
  .contact h2, .contact p {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
