.menu{
    margin-top:-2em;
    @media(min-width:$breakpoint-mobile){
    display:grid;
    grid-template-columns:repeat(3,1fr);
    display:block;
    }


&__columns{
    background:lighten($color-lightgray,2%);
    @include base-ellipsis;
    @media(min-width:$breakpoint-mobile){
    display:grid;
    grid-template-columns:repeat(3,1fr);
}}
&__item{
    @include base-ellipsis;
        & h2{
            margin:0 0 0.7em 1.2em;
            padding:1em 0 0.7em 0;
            text-transform: uppercase;
            font-weight:300;
            position:relative;
            font-size:17px;
            &::before{
                content:"";
                position:absolute;
                width:42px;
                border-bottom:3px solid $color-tertiary;
                top:2.5em;
            }
        }
    }
    &__description{
        margin-bottom:1em;
        width:93%;
        box-shadow:3px 3px 5px darken($color-lightgray,5%);
        background-color:white;
        border-radius:15px;
        margin-left:1em;
        display:flex;
     align-items:center;
     cursor:pointer;
    @include base-ellipsis;
    animation:appearance 0.5s both;
    @for $i from 1 through 4{
    &:nth-child(#{$i}){
    animation-delay:0.2s * $i;}
  }
     & h3{
        font-weight:500;
        padding:0.5em 0 0 0.5em;
         margin:0 0 0.2em 0.5em;
        @include base-ellipsis;
            }
          & p{
            font-weight:300;
           margin:0 0 0 0.5em;   
           padding:0 0 0.7em 0.7em;   
             @include base-ellipsis;
          }  
        }
&__script{
    @include base-ellipsis;
}
&__price{
    @include price;
}
&__price__item{
     @include price;
     margin-top:2.8em;
}
&__check {
    @include check;
    & i{
      @include check-icone;}}  

&__check__item{
    @include check;
    padding:2.1em 0;
    & i{
       @include check-icone;}
}
&__description:hover &__check__item i{
   @include animation-check;
}
&__description:hover &__check__item{
   @include margin-check;
}
&__description:hover &__price__item{
   @include margin-price;
}
  &__description:hover &__check i{
    @include animation-check;
  }  

&__description:hover &__check {
    @include margin-check;
}
&__description:hover &__price{
    @include margin-price;
}
}
.button{
    text-align:center;
    background:lighten($color-lightgray,3%);
    & button{
        margin-top:2.5em;
        @include button-purple;
padding:1.2em 3.5em;}
}
.contact{
    & h2,& p{
    @media(min-width:$breakpoint-mobile){
   margin-left:0;
    
   } }}
